includes:
    - vendor/pixelperfectat/coding-standard/phpstan.neon

parameters:
    treatPhpDocTypesAsCertain: false
    paths:
        - Api
        - Block
        - Console
        - Cron
        - Model
        - Service
