<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Config::config">
                    <resource id="PixelPerfect_UnpaidOrderReminder::config" title="Unpaid Order Reminder" sortOrder="500"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
