<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="PixelPerfect\UnpaidOrderReminder\Api\Data\PaymentInstructionsInterface"
                type="PixelPerfect\UnpaidOrderReminder\Model\Data\PaymentInstructions"/>
    <preference for="PixelPerfect\UnpaidOrderReminder\Api\Service\ProviderPoolInterface"
                type="PixelPerfect\UnpaidOrderReminder\Service\Instructions\ProviderPool"/>
    <preference for="PixelPerfect\UnpaidOrderReminder\Api\Service\ConfigInterface"
                type="PixelPerfect\UnpaidOrderReminder\Service\Config"/>
    <preference for="PixelPerfect\UnpaidOrderReminder\Api\Data\ReminderRuleInterface"
                type="PixelPerfect\UnpaidOrderReminder\Model\Data\ReminderRule"/>
    <preference for="PixelPerfect\UnpaidOrderReminder\Api\Data\ReminderLogInterface"
                type="PixelPerfect\UnpaidOrderReminder\Model\ReminderLog"/>
    <preference for="PixelPerfect\UnpaidOrderReminder\Api\ReminderLogRepositoryInterface"
                type="PixelPerfect\UnpaidOrderReminder\Model\ReminderLogRepository"/>
    <preference for="PixelPerfect\UnpaidOrderReminder\Api\Service\ReminderCriterionInterface"
                type="PixelPerfect\UnpaidOrderReminder\Service\Criterion\CompositeReminderCriterion"/>
    <preference for="PixelPerfect\UnpaidOrderReminder\Api\Service\ReminderSenderInterface"
                type="PixelPerfect\UnpaidOrderReminder\Service\ReminderSender"/>
    <preference for="PixelPerfect\UnpaidOrderReminder\Api\Data\ReminderRunResultInterface"
                type="PixelPerfect\UnpaidOrderReminder\Model\Data\ReminderRunResult"/>
    <preference for="PixelPerfect\UnpaidOrderReminder\Api\Service\ReminderRunnerInterface"
                type="PixelPerfect\UnpaidOrderReminder\Service\ReminderRunner"/>
    <!-- The registry of describable methods. An integrator adds one with an <item>, or switches one
         off by setting its item to null. -->
    <type name="PixelPerfect\UnpaidOrderReminder\Service\Instructions\ProviderPool">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="banktransfer" xsi:type="object">PixelPerfect\UnpaidOrderReminder\Service\Instructions\OfflineInstructions</item>
                <item name="checkmo" xsi:type="object">PixelPerfect\UnpaidOrderReminder\Service\Instructions\OfflineInstructions</item>
                <item name="cashondelivery" xsi:type="object">PixelPerfect\UnpaidOrderReminder\Service\Instructions\OfflineInstructions</item>
                <item name="purchaseorder" xsi:type="object">PixelPerfect\UnpaidOrderReminder\Service\Instructions\OfflineInstructions</item>
            </argument>
        </arguments>
    </type>

    <!-- This is "eligible for a reminder": add or remove a rule with a single <item>, or switch one
         off by setting it to null. No PHP change required. -->
    <type name="PixelPerfect\UnpaidOrderReminder\Service\Criterion\CompositeReminderCriterion">
        <arguments>
            <argument name="criteria" xsi:type="array">
                <item name="is_pending_payment" xsi:type="object">PixelPerfect\UnpaidOrderReminder\Service\Criterion\IsPendingPayment</item>
                <item name="matches_an_enabled_rule" xsi:type="object">PixelPerfect\UnpaidOrderReminder\Service\Criterion\MatchesAnEnabledRule</item>
                <item name="not_yet_reminded" xsi:type="object">PixelPerfect\UnpaidOrderReminder\Service\Criterion\NotYetReminded</item>
            </argument>
        </arguments>
    </type>
</config>
