<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="PixelPerfect\UnpaidOrderReminder\Api\Data\PaymentInstructionsInterface"
                type="PixelPerfect\UnpaidOrderReminder\Model\Data\PaymentInstructions"/>
    <preference for="PixelPerfect\UnpaidOrderReminder\Api\Service\ProviderPoolInterface"
                type="PixelPerfect\UnpaidOrderReminder\Service\Instructions\ProviderPool"/>
    <preference for="PixelPerfect\UnpaidOrderReminder\Api\Service\ConfigInterface"
                type="PixelPerfect\UnpaidOrderReminder\Service\Config"/>
    <preference for="PixelPerfect\UnpaidOrderReminder\Api\Data\ReminderRuleInterface"
                type="PixelPerfect\UnpaidOrderReminder\Model\Data\ReminderRule"/>
    <preference for="PixelPerfect\UnpaidOrderReminder\Api\Data\ReminderLogInterface"
                type="PixelPerfect\UnpaidOrderReminder\Model\ReminderLog"/>
    <preference for="PixelPerfect\UnpaidOrderReminder\Api\ReminderLogRepositoryInterface"
                type="PixelPerfect\UnpaidOrderReminder\Model\ReminderLogRepository"/>
    <!-- The registry of describable methods. An integrator adds one with an <item>, or switches one
         off by setting its item to null. -->
    <type name="PixelPerfect\UnpaidOrderReminder\Service\Instructions\ProviderPool">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="banktransfer" xsi:type="object">PixelPerfect\UnpaidOrderReminder\Service\Instructions\OfflineInstructions</item>
                <item name="checkmo" xsi:type="object">PixelPerfect\UnpaidOrderReminder\Service\Instructions\OfflineInstructions</item>
                <item name="cashondelivery" xsi:type="object">PixelPerfect\UnpaidOrderReminder\Service\Instructions\OfflineInstructions</item>
                <item name="purchaseorder" xsi:type="object">PixelPerfect\UnpaidOrderReminder\Service\Instructions\OfflineInstructions</item>
            </argument>
        </arguments>
    </type>
</config>
